<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Create User</title>
  <style>
     body {
        font-family: 'Arial', sans-serif;
        background-color: #f4f4f4;
        margin: 0;
        padding: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100vh;
     }

     fieldset {
        border: 2px solid #3498db;
        border-radius: 8px;
        padding: 20px;
        width: 300px;
        background-color: #fff;
     }

     legend {
        font-size: 1.2em;
        color: #3498db;
        margin-bottom: 10px;
     }

     label {
        display: block;
        margin-bottom: 8px;
        color: #333;
     }

     input {
        width: 100%;
        padding: 8px;
        box-sizing: border-box;
        margin-bottom: 15px;
        border: 1px solid #ccc;
        border-radius: 4px;
     }

     button {
        background-color: #3498db;
        color: #fff;
        padding: 10px 15px;
        border: none;
        border-radius: 4px;
        cursor: pointer;
     }

     button:hover {
        background-color: #2980b9;
     }

     /* Style for the create user link */
     .create-user-link {
        text-align: center;
        margin-top: 10px;
     }

     .create-user-link a {
        color: #3498db;
        text-decoration: none;
     }
  </style>
</head>
<body>
  <form action="/createuser" method="post">
     <fieldset>
        <legend>Create User</legend>
        <label for="username" >Username:</label>
        <input type="text" id="username" name="username" required>
        <label for="password">Password:</label>
        <input type="password" id="password" name="password" required>
        <button type="submit">Create User</button>
        
        <!-- Login Link inside the fieldset -->
        <p class="create-user-link">Already have an account? <a href="/login">Login</a></p>
     </fieldset>
  </form>
</body>
</html>
