<!-- FILEPATH: /C:/Users/tdogs/OneDrive/Documents/GitHub/IS403CeliacProject/CeliacWebsite/views/restaurantDisplay.ejs -->

<!DOCTYPE html>
<html>
<head>
    <title>Restaurant Display</title>
    <!-- <link rel="stylesheet" type="text/css" href="/path/to/your/css/file.css"> -->
</head>
<body>
    <h1>Restaurant Display</h1>
    <ul>
        <% Restaurants.forEach(function(Restaurant) { %>
            <li>
                <h2><%= Restaurant.Restaurant_Name %></h2>
                <p>Address: <%= Restaurant.Address %></p>
                <% if (Restaurant.Photo) { %>
                    <img src="data:image/jpeg;base64,<%= Buffer.from(Restaurant.Photo).toString('base64') %>" alt="Restaurant Photo">
                <% } else { %>
                    <p>No photo available</p>
                <% } %>
            </li>
        <% }); %>
        
    </ul>
</body>
</html>
